/*-----------  ALLGEMEINES (Meik) ---------- */

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  color-scheme: light;
  font-size: 100%;
  scroll-behavior: smooth;
  display: inline-block;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  width: 100%;
  font-family: "inter", sans-serif;
  overflow: visible;
  direction: ltr;
  background-color: #F6F7F8;
}

.d-none {
  display: none !important;
}


a {
  text-decoration: none;
  cursor: pointer;
}


a:focus {
  text-decoration: none;
}


a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}



/* -------- FONTS (Meik) ------------ */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}






/* ---------- landscape ---------- */

.landscape-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 2em;
  text-align: center;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.landscape-warning.visible {
  display: flex;
}
