/* -------- FONTS ------------ */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}
