
    <form id="add-task-form" action="">
        <div class="add-task-board-content">
                <h1>Add Task</h1>
            <div class="form-col-container add-task-board-form-container">
                <div class="form-col-left">
                    <div class="form-group">
                        <label for="title">Title<span class="required">*</span></label>
                        <input class="form-input" type="text" id="title" placeholder="Enter a title">
                        <div id="title-required" class="field-required-msg">This field is required</div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" placeholder="Enter a description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="margin-top-16" for="dropdown-container">Assigned to</label>
                        <div class="dropdown-container">
                            <div id="contacts-list" class="select-btn">
                                <input class="select-btn-input back-placeholder" type="text" placeholder="Select contacts to assign">
                                <span class="arrow-down">
                                    <img src="./assets/img/icons_add_task/chevron.svg" alt="">
                                </span>
                            </div>
                            <ul class="list-items">
                            </ul>
                            <div class="selected-contacts-div">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-col-middle bagpulaincolegu">
                </div>
                <div class="form-col-right gap-24">
                    <div class="form-group">
                        <label for="due-date-input">Due date<span class="required">*</span></label>
                        <input class="form-input" type="date" id="due-date-input">
                        <div id="date-required" class="field-required-msg">This field is required</div>
                    </div>
                    <div class="form-group">
                        <label>Prio</label>
                        <div class="prio-buttons">
                            <button type="button" id="urgent" class="prio-btn urgent">Urgent<img src="./assets/img/icons_add_task/urgent.svg" alt=""></button>
                            <button type="button" id="medium" class="prio-btn active">Medium<img src="./assets/img/icons_add_task/medium-white.svg" alt=""></button>
                            <button type="button" id="low" class="prio-btn low">Low<img src="./assets/img/icons_add_task/low.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category-selected">Category<span class="required">*</span></label>
                        <div class="dropdown-container">
                            <div id="category-container" class="select-btn category">
                                <span id="category-displayed" class="btn-text">Select task category</span>
                                <span class="arrow-down">
                                    <img src="./assets/img/icons_add_task/chevron.svg" alt="">
                                </span>
                            </div>
                            <div id="category-required" class="field-required-msg category-required-msg">This field is required</div>
                            <ul class="list-items category scoll-disabled">
                                <li data-value="Technical stack" class="list-item category">
                                    <span>Technical stack</span>
                                </li>
                                <li data-value="User-story" class="list-item category">
                                    <span>User Story</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subtasks">Subtasks</label>
                        <div class="subtask-input-container">
                            <input class="form-input subtask-input" type="text" placeholder="Add new subtask">
                            <div class="subtask-btn add">
                                <img src="./assets/img/icons_add_task/add.svg" alt="">
                            </div>
                            <div class="subtask-btn check-cancel-div">
                                <div class="subtask-cancel">
                                    <img src="./assets/img/icons_add_task/subtask-close.svg" alt="">
                                </div>
                                <div class="subtask-divider"></div>
                                <div class="subtask-check">
                                    <img src="./assets/img/icons_add_task/subtask-check.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="display-subtasks-container">
                            <ul class="subtasks-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-bottom add-task-board-form-btns ">
                <p><span class="required">*</span> This Field is required</p>
                <div class="form-actions">
                    <button onclick="clearTask()" type="button" class="clear-btn" id="clear-btn">Clear <img id="cancel-icon" src="./assets/img/icons_add_task/cancel.svg" alt=""></button>
                    <button type="submit" class="create-btn">Create Task <img src="./assets/img/icons_add_task/check.svg" alt=""></button>
                </div>
            </div>
        </div>
    </form>
