<header>
    <p>Kanban Project Management Tool
    </p>
    <div class="header-icons">
        <div class="help-icon">
            <a href="../../help.html">
                <img src="../../assets/img/header_img/help_icon.svg" alt="">
            </a>
        </div>
        <div onclick="openSubMenu()" class="profile-icon">
            <div class="profile-name">SM</div>    
        </div>
    </div>
</header>


<div id="sub-menu-bg" class="d-none">
    <div class="sub-menu">
        <a href="./legalNotice.html"><div>Legal Notice</div></a>
        <a href="./privacyPolicy.html"><div>Privacy Policy</div></a>
        <a href="#"><div>Log Out</div></a>
    </div>
</div>
