<header>
    <img class="header-logo" src="./assets/img/header_img/header_logo.svg" alt="">
    <p class="header-slogan">Kanban Project Management Tool
    </p>
    <div id="header-icons" class="header-icons">
        <div class="help-icon">
            <a href="./help.html">
                <img id="hide-help-icon" src="./assets/img/header_img/help_icon.svg" alt="">
            </a>
        </div>
        <div onclick="openSubMenu()" class="profile-icon">
            <div id="header-profile-icon" class="profile-name">SM</div>
        </div>
    </div>
</header>


<div id="sub-menu-modal" class="sub-menu-bg d-none">
    <div id="sub-menu" class="sub-menu d-none sub-menu-close">
        <a class="help-link" href="./help.html">
            <div>Help</div>
        </a>
        <a href="./legalNotice.html">
            <div>Legal Notice</div>
        </a>
        <a href="./privacyPolicy.html">
            <div>Privacy Policy</div>
        </a>
        <a href="#" onclick="LogOut()"> 
            <div>Log Out</div>
        </a>
    </div>
</div>
