

<nav>
    <div class="nav__container__logo">
      <a href="./summary.html"><img src="./assets/icons/logo_white.png" alt="Logo"></a>
    </div>
    <div class="nav__container__choices">
      <a class="summary-link" href="#"><img class="summary-img" src="./assets/icons/summary.png" alt="Summary">Summary</a>
      <a class="addtask-link" href="#"><img class="addtask-img" src="./assets/icons/addTask.png" alt="Add Task">Add Task</a>
      <a class="board-link" href="#"><img class="board-img" src="./assets/icons/board.png" alt="Board">Board</a>
      <a class="contact-link" href="#"><img class="contact-img" src="./assets/icons/contacts.png" alt="Contats">Contacts</a>
    </div>
    <div class="nav__container__legacy">
      <a href="#">Privacy Policy</a>
      <a href="#">Legal notice</a>
    </div>
</nav>