* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    padding: 0 16px;
}

.heading {
    width: 100%;
    /* position: sticky;
    top: 96px; */
    background-color: #F6F7F8;
    padding: 0 16px 32px;
}

.add-task-container {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 97px);
    width: calc(100vw - 232px);
    background-color: #F6F7F8;
    text-align: left;
    float: right;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 64px 0 0 0;
    margin-left: 64px;
}

.form-col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 32px;
}

.form-col-left {
    border-right: 1px solid #D1D1D1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-input {
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    font-family: inherit;
    width: 100%;
    height: 48px;
    cursor: pointer;
    width: 440px;
}

.dropdown-container {
    position: relative;
    max-width: 440px;
    width: 100%;
    cursor: pointer;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #fff;
}

.select-btn .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    transition: 125ms;
}

.select-btn.show-menu .arrow-down {
    transform: rotate(-180deg);
}

.list-items {
    position: absolute;
    top: 48px;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    padding-top: 8px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    border: 1px solid #D1D1D1;
    border-top: none;
    display: none;
}

.select-btn.show-menu {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.select-btn.show-menu ~ .list-items {
    display: block;
}

.list-items .list-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    height: 48px;
    transition: 125ms;
}

.list-items .list-item:hover {
    background-color: #EEEEEE;
    border-radius: 10px;
}

.list-item-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cicle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9747FF;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
}

.list-item.checked {
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
}

.list-item.checked:hover {
    background-color: #091931;
}

.list-items.category {
    height: auto;
}

.list-item.category {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    height: 48px;
    transition: 500ms;
}

.list-item.category:hover {
    background-color: #EEEEEE;
    border-radius: 10px;
}

.subtask-input-container {
    display: flex;
    width: 440px;
    cursor: pointer;
}

.form-input.subtask-input {
    border-radius: 10px 0 0 10px;
    border-right: 0;
    width: calc(100% - 48px);
}

.subtask-input:focus {
    outline: none;
}

.subtask-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 16px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

.subtask-btn img {
    width: 14px;
    height: 14px;
}

.check-cancel-div {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 0 8px;
}

.subtask-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.subtask-divider {
    width: 1px;
    height: 67%;
    border-right: 1px solid #D1D1D1;
    margin: 0 4px;
}

.subtask-divider-2 {
    width: 1px;
    height: 24px;
    border-right: 1px solid #091931;
    margin: 0 8px;
}

.subtask-divider-2.subtask-divider-3 {
    border-right: 1px solid #D1D1D1;
}

.subtask-check {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    transition: 125ms;
}

.subtask-cancel:hover, .subtask-check:hover {
    background-color: #D1D1D1;
}

.subtasks-list {
    padding: 8px 0;
}

.subtask-list-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 4px 16px;
    height: 32px;
    cursor: pointer;
}

.subtask-list-item:hover {
    background-color: #D1D1D1;
}

.subtask-list-item.subtask-list-item-edit {
    padding: 0;
    width: 440px;
}

.subtask-list-item.subtask-list-item-edit:hover {
    background-color: #F6F7F8;
}

.li-text::before {
    content: "•";
    margin-right: 8px;
}

.subtask-edit-icon-div {
    display: none;
    justify-content: center;
    align-items: center;
}

.subtask-list-item:hover .subtask-edit-icon-div {
    display: flex;
}

.edit-subtask-input {
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #29ABE2;
    padding: 4px 16px;
}

.edit-subtask-input:focus {
    outline: none;
}

.edit-subtask-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    gap: 4px;
    padding: 0 16px;
    background-color: #fff;
    border-bottom: 1px solid #29ABE2;
}

.edit-subtask-button-div img:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

textarea {
    padding: 16px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-family: inherit;
    cursor: pointer;
    width: 440px;
    resize: none;
}

.prio-buttons {
    display: flex;
    gap: 4px;
}

.prio-btn {
    padding: 16px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    flex: 1;
    cursor: pointer;
}

.prio-btn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.prio-btn.active {
    background-color: #FFA800;
    color: white;
    outline: none;
    box-shadow: none;
}

.prio-btn.active.urgent {
    background-color: #FF3D00;
}

.prio-btn.active.low {
    background-color: #7AE229;
}

.form-bottom {
    padding: 64px 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form-actions {
    display: flex;
    gap: 8px;
}

.required {
    color: #FFA800;
}

.clear-btn, .create-btn {
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.create-btn {
    background-color: #2A3647;
    color: white;
}

.clear-btn:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.create-btn:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
