.scoll-disabled {
    overflow-y: auto !important;
}

.back-placeholder::placeholder {
    color: black;
    opacity: 1;
}

.field-required {
border-color: #FF8190;
}

.field-required-msg {
    opacity: 0;
    color: #FF8190;
    font-size: 12px;
    margin-top: -4px;
}

.margin-top-16 {
margin-top: 16px;
}

.gap-24 {
    gap: 24px;
}

.category-required-msg {
    margin-top: 4px ;
    margin-bottom: -16px;
}
.category-required-border {
    border: 1px solid #FF8190;
}






.list-items::-webkit-scrollbar {
    width: 24px;
}

.list-items::-webkit-scrollbar-thumb {
    background: rgba(168, 168, 168, 1);
    border-radius: 100px;
    border: 8px solid white;
}

.list-items::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
}

.list-items::-webkit-scrollbar-track {
    background: white;
}

.list-items::-webkit-scrollbar-button:single-button {
    background-repeat: no-repeat;
    width: 4px;
    height: 24px;
}

.list-items::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../assets/img/contacts_img/scroll_up.svg');
    background-position: center bottom;
}

.list-items::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('../assets/img/contacts_img/scroll_down.svg');
    background-position: center top;
}