button{
    cursor: pointer;
}

.body {
    background-color: #F6F7F8;
    margin: 0;
    padding: 0;
}

.overflowHidden {
    overflow: hidden !important;
}

.board {
    flex-direction: column;
    padding-top: 96px;
    padding-left: 232px;
}

.imgDelete{
    cursor: pointer;
}

.imgEdit{
    cursor: pointer;
}

.boardHeader {
    flex-direction: column;
    align-items: space-between;
}

.containerTools {
    justify-content: space-between;
    height: 232px;
    align-items: center;
    padding-left: 50px;
    padding-right: 80px;
    flex-wrap: wrap;
}

.containerTools h1 {
    font-weight: 700;
    font-size: 73px;
    line-height: 73.2px;
}

.tools {
    gap: 24px;
}

.statuses {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 64px 0 64px;
    padding-left: 50px;
    padding-right: 80px;
    gap: 10px
}

.statusHeader {
    align-items: center;
    justify-content: space-between;
    width: 244px;
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    color: #42526E;
}

.statusItem {
    display: flex;
    flex-direction: column;
    width: 252px;
}

.emptyTask {
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 10px;
    height: 48px;
    line-height: 19.2px;
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskCard {
    width: 252px;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    min-height: 400px;
    outline: 2px dashed transparent;
    border-radius: 30px;
}

.category {
    background-color: #0038FF;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: white;
}

.titelCard {
    line-height: 19.2px;
    font-weight: 700;
    height: 38px;
    color: #2A3647;
    margin: 24px 0 8px 0;
}

.cardTextGrey {
    font-size: 20px;
    color: #2A3647;
}

.cardTextBlack {
    font-size: 20px;
    color: #000;
}

.dateContainer {
    margin: 0 0 24px 0;
}

.dateContainer p {
    margin: 0 20px 0 0;
}

.prioContainer {
    margin: 0 0 24px 0;
}

.prioContainer p {
    margin: 0 30px 0 0;
}

.prioContainer img {
    width: 20px;
}

.prioText {
    margin-right: 5px !important;
}

.badgeImg {
    width: 32px;
    height: 32px;
    background-color: blue;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.profileBadges {
    padding: 0;
    margin: 10px 0 0 0;
    list-style-type: none;
    font-size: 19px;
}

.profileBadgesBig {
    list-style-type: none;
    padding: 10px;
}

.date {
    margin-right: 20px;
}

.priority {
    margin-right: 25px;
}

.badgeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.badgeContainer span {
    margin-right: 10px;
}

.subtasksItem {
    list-style-type: none;
    padding-left: 16px;
    margin: 4px 0;
}

.subtasks {
    margin-bottom: 24px;
}

.descriptionCard {
    line-height: 19.2px;
    color: #A8A8A8;
    height: 38px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 0 0 24px 0;
}

.progress {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.progressBarContainer {
    width: 128px;
    height: 8px;
    background: #F4F4F4;
}

.progressBar {
    height: 8px;
    background-color: #4589FF;
}

.amountSubtasks {
    font-size: 12px;
    line-height: 14.4px;
    color: black;
}

.footerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileBadges {
    position: relative;
    display: flex;
    align-items: center;
}

.profileBadges div {
    position: relative;
    margin-left: -15px;
}

.profileBadges div:first-child {
    margin-left: 0;
}

.badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.boardFlex {
    display: flex;
}

.searchIcon {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
}

.searchBar {
    border: none;
    outline: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
}

.searchBar::placeholder {
    color: #D1D1D1;
}

.searchContainer {
    border: 1px solid #ababab;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    gap: 10px;
    background-color: #ffffff;
}

.addBtn {
    background-color: #2A3647;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #ffffff;
    border: 1px solid #2A3647;
}

.seperator {
    height: 32px;
    gap: 32px;
    width: 1px;
    background-color: #D1D1D1;
}

.hidden {
    display: none !important;
}

.cardContainer.highlightDragArea {
    outline-color: #ababab;
}

.dragging {
    transform: rotate(5deg);
}

.closeEdit {
    display: flex;
    justify-content: end;
}

.inputEdit {
    width: 100%;
    height: 48px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0 10px;
}

.imgInput {
    background: url('../assets/img/icons/plusInput.svg') no-repeat;
    background-size: 20px 20px;
    background-position: right;
}