.add-task-board-x-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 64px;
    right: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.add-task-board-x-btn img {
    margin-top: 3px;
}

.add-task-board-x-btn:hover {
    background-color: rgba(238, 238, 238, 1);
}

.add-task-board-container {
    margin-inline: 34px;
    position: relative;
    width: 1116px;
    height: 870px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-board-content h1 {
    padding-bottom: 32px;
}

.add-task-board-content {
    display: flex;
    flex-direction: column;
    padding: 64px 66px 64px 95px;
}

.add-task-board-form-container {
    flex-wrap: nowrap;
    margin: 0;
    gap: 48px;
}

.add-task-board-form-btns {
    padding-inline: 74px 65px;
    position: absolute;
    bottom: 64px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    width: 100%;

}
.form-col-middle-add-task-board {
    height: 424px;
    border-left: 1px solid #D1D1D1;
    align-self: center;
}

.margin-bottom-4 {
    margin-bottom: 8px;
}

.margin-edit-task-inputs {
    margin-bottom: 16px;
}



