button {
    cursor: pointer;
}

.body {
    background-color: #F6F7F8;
    margin: 0;
    padding: 0;
}

.overflowHidden {
    overflow: hidden !important;
}

.board {
    flex-direction: column;
    padding-top: 96px;
    padding-left: 232px;
}

.imgDelete {
    cursor: pointer;
}

.imgEdit {
    cursor: pointer;
}

.boardHeader {
    flex-direction: column;
    align-items: space-between;
}

.containerTools {
    justify-content: space-between;
    height: 232px;
    align-items: center;
    padding-left: 50px;
    padding-right: 80px;
    flex-wrap: wrap;
    max-width: 1400px;
}

.containerTools h1 {
    font-weight: 700;
    font-size: 73px;
    line-height: 73.2px;
}

.tools {
    gap: 24px;
    position: relative;
    /* Macht das Element zum Bezugspunkt für die absolute Positionierung des Buttons */
    display: flex;
    align-items: center;
    /* Zentriert den Inhalt des Containers vertikal */
}

.statuses {
    flex-wrap: wrap;
    padding: 0 64px 0 64px;
    padding-left: 50px;
    padding-right: 80px;
    gap: 24px; 
    margin-bottom: 120px;
}

.statusHeader {
    align-items: center;
    justify-content: space-between;
    width: 244px;
    margin-bottom: 18px;
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    color: #42526E;
}

.statusItem {
    display: flex;
    flex-direction: column;
    width: 252px;
}

.emptyTask {
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 10px;
    height: 48px;
    line-height: 19.2px;
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskCard {
    min-width: 252px;
    max-width: 252px;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    min-height: 400px;
    outline: 2px dashed transparent;
    border-radius: 30px;
}

.flexEnd {
    justify-content: flex-end;
}

.spaceBetween {
    justify-content: space-between;
}

.categoryBlue {
    background-color: #0038FF;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: white;
}

.categoryGreen {
    background-color: #1FD7C1;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: white;
}

.titelCard {
    line-height: 19.2px;
    font-weight: 700;
    height: 38px;
    color: #2A3647;
    margin: 24px 0 8px 0;
}

.cardTextGrey {
    font-size: 20px;
    color: #2A3647;
}

.cardTextBlack {
    font-size: 20px;
    color: #000;
}

.dateContainer {
    margin: 0 0 24px 0;
}

.dateContainer p {
    margin: 0 20px 0 0;
}

.prioContainer {
    margin: 0 0 24px 0;
}

.prioContainer p {
    margin: 0 30px 0 0;
}

.prioContainer img {
    width: 20px;
}

.prioText {
    margin-right: 5px !important;
}

.badgeImg {
    width: 32px;
    height: 32px;
    background-color: blue;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.profileBadges {
    padding: 0;
    margin: 10px 0 0 0;
    list-style-type: none;
    font-size: 19px;
}

.profileBadgesBig {
    list-style-type: none;
    padding: 10px;
}

.date {
    margin-right: 20px;
}

.priority {
    margin-right: 25px;
}

.badgeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.badgeContainer span {
    margin-right: 10px;
}

.subtasksItem {
    list-style-type: none;
    padding-left: 16px;
    margin: 4px 0;
}



.descriptionCard {
    line-height: 19.2px;
    color: #A8A8A8;
    height: 38px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 0 0 24px 0;
}

.progress {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.progressBarContainer {
    width: 128px;
    height: 8px;
    background: #F4F4F4;
}

.progressBar {
    height: 8px;
    background-color: #4589FF;
}

.amountSubtasks {
    font-size: 12px;
    line-height: 14.4px;
    color: black;
}

.footerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileBadges {
    position: relative;
    display: flex;
    align-items: center;
}

.profileBadges div {
    position: relative;
    margin-left: -15px;
}

.profileBadges div:first-child {
    margin-left: 0;
}

.badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.boardFlex {
    display: flex;
}

.searchIcon {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
}

.searchBar {
    border: none;
    outline: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
}

.searchBar::placeholder {
    color: #D1D1D1;
}

.searchContainer {
    border: 1px solid #ababab;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    gap: 10px;
    background-color: #ffffff;
}

.addBtn {
    background-color: #2A3647;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #ffffff;
    border: 1px solid #2A3647;
    display: inline-flex;
    /* Für horizontales Ausrichten */
    align-items: center;
    /* Vertikales Zentrieren des Inhalts */
    justify-content: center;
    /* Horizontales Zentrieren des Inhalts */
}

.addBtnSmall {
    display: none;
}


.seperator {
    height: 32px;
    gap: 32px;
    width: 1px;
    background-color: #D1D1D1;
}

.hidden {
    display: none !important;
}

.show {
    display: flex !important;
}

.cardContainer.highlightDragArea {
    outline-color: #ababab;
}

.dragging {
    transform: rotate(5deg);
}

.closeEdit {
    display: flex;
    justify-content: end;
}

.inputEdit {
    width: 100%;
    height: 48px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0 10px;
}

.imgInput {
    background: url('../assets/img/icons/plusInput.svg') no-repeat;
    background-size: 20px 20px;
    background-position: right;
}

.headTitleBtnContainer {
    display: flex;
    justify-content: space-between;


}

.cardBody {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    min-height: 220px;

}

@media (max-width: 1024px) {

    .board {
        padding-left: 0;
    }
}

@media (max-width: 768px) {


    .headTitleBtnContainer {
        width: 100%;
    }

    .containerTools {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 550px) {
    .titelCardBig {
        font-size: 40px;
    }

    .tools {
        flex-direction: column-reverse;
        width: 100%;
    }

    .addBtn {
        display: none;
    }

    .addBtnSmall {
        display: flex;
    }

    .searchContainer {
        width: 100%;
    }

    .searchBar {
        width: 90%;
    }

    .statuses {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cardContainer {
        flex-direction: row;
        gap: 16px;
        overflow-x: auto;
    }

    .statusItem {
        width: 100%;
    }

    .statusHeader {
        width: 100%;
    }

    .dialog {
        width: 90% !important;
        height: 80% !important;
        padding-top: 20px !important;
    }

    .closeBtn {
        margin-right: 20px !important;
    }



    .dialogContent {
        width: 100%;
    }

    .subtaskContainer {
        width: 100% !important;
    }

    .footerCardEdit {
        bottom: 10px;
    }

    .taskCardBig {
        margin-left: 24px;
    }
}

.titleCard {
    min-height: 38px;
}

@media (max-width: 450px) {

    .descriptionCardBig {
        font-size: 16px;

    }

    .titelCardBig {
        font-size: 36px !important;
    }

    .dialog p,
    .dialog h1,

    .dialog label {
        font-size: 16px;
    }


    .dialogContent label,
    .dialogContent input,
    .dialogContent input::placeholder,
    .dialogContent textarea .listItems,
    .cardTextGrey,
    .cardTextBlack {
        font-size: 16px !important;
    }

    .prioEdit {
        width: 10px;
        height: 25px;
    }

    .prioEdit img {
        width: 15px;
    }

    .prioBtnText {
        font-size: 12px !important;
    }
}