.contacts-container {
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    height: calc(100vh - 97px);
    top: 96px;
    left: 232px;
    padding-top: 101px;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contacts-container::-webkit-scrollbar {
    width: 24px;
}

.contacts-container::-webkit-scrollbar-thumb {
    background: rgba(168, 168, 168, 1);
    border-radius: 100px;
    border: 8px solid white;
}

.contacts-container::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
}

.contacts-container::-webkit-scrollbar-track {
    background: white;
}

.contacts-container::-webkit-scrollbar-button:single-button {
    background-repeat: no-repeat;
    width: 4px;
    height: 24px;
}

.contacts-container::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../assets/img/contacts_img/scroll_up.svg');
    background-position: center bottom;
}

.contacts-container::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('../assets/img/contacts_img/scroll_down.svg');
    background-position: center top;
}

.contacts-list {
    padding-left: 24px;
    padding-bottom: 24px;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-contacts {
    text-align: center;
    padding-top: 20px;
    font-size: 27px;
    color: rgba(209, 209, 209, 1);
}

.add-contact-btn-container {
    position: fixed;
    height: 101px;
    width: 432px;
    top: 96px;
    left: 232px;
    background-color: white;
}

.add-contact-btn {
    left: 0px;
    gap: 16px;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    margin-left: 24px;
}



.add-contact-btn p {
    color: white;
    font-size: 21px;
}

.add-contact-btn img {
    width: 32px;
}

.section-letter {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 58px;
    padding-left: 36px;
}

.separator-line {
    background-color: rgba(209, 209, 209, 1);
    height: 1px;
    margin-block: 8px;
}

.contact {
    display: flex;
    align-items: center;
    width: 352px;
    min-height: 78px;
    padding-left: 24px;
    gap: 35px;
    border-radius: 10px;
}

.contact-selected {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    pointer-events: none;
}

.contact:hover {
    cursor: pointer;
    background: linear-gradient(rgba(249, 249, 249, 1), rgba(240, 240, 240, 1));
}

.contact-active {
    color: white;
    background-color: rgba(42, 54, 71, 1);
}

.contact-icon {
    min-width: 42px;
    height: 42px;
    margin-bottom: 3px;
    border-radius: 100px;
    font-size: 12px;
    color: white;
    border: 2px solid white;
    background-color: rgb(110, 82, 255);
}

.contact-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-data p {
    font-size: 20px;
}

.contact-data a {
    color: rgba(0, 124, 238, 1);
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100vh;
    padding: 206px 0px 0px 743px;
}

.back-arrow {
    display: none;
    position: fixed;
    right: 24px;
    top: 125px;
    padding: 4px 3px 0px 3px;
    border-radius: 100px;
}

.back-arrow:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 1);
    transform: scale(1.1);
}

.contact-sub-menu-btn {
    display: none;
    position: absolute;
    right: 24px;
    bottom: 122px;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: rgba(42, 54, 71, 1);
    
}

.add-contact-btn:hover,
.contact-sub-menu-btn:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.title-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title-container h1 {
    font-size: 61px;
    order: 1;
}

.title-separator {
    height: 59px;
    min-width: 3px;
    background-color: rgba(41, 171, 226, 1);
    border-radius: 3px;
    order: 2;
}

.title-container p {
    font-size: 27px;
    color: rgba(42, 54, 71, 1);
    order: 3;
}

.contact-displayed {
    top: 0px;
    left: 0px;
    position: relative;
    transition: transform 125ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 21px;
    height: 364px;
}
.contact-slide-out {
    transform: translateX(100%);
    opacity: 0;
}
.contact-slide-in {
    transform: translateX(0);
    opacity: 1;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 54px;
}

.contact-img {
    font-size: 47px;
    font-weight: 500;
    min-width: 120px;
    height: 120px;
    border-radius: 70px;
    color: white;
    background-color: rgba(209, 209, 209, 1);
    border: 3px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.contact-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-name h2 {
    font-size: 47px;
    font-weight: 500;
}

.contact-btns {
    display: flex;
    gap: 16px;
}

.edit-contact {
    width: 62px;
    display: flex;
    gap: 8px;
}

.delete-contact {
    display: flex;
    gap: 8px;
}

.edit-contact img {
    height: 18.28px;
    width: 18.28px;
    margin-left: 3px;
}

.edit-contact img {
    height: 18.28px;
    width: 18.28px;
}

.contact-btns div:hover {
    cursor: pointer;
    color: #29abe2;
    font-weight: 700;
}

.contact-btns div:hover img {
    filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);
}

.contact-info-p {
    display: flex;
    align-items: center;
    height: 74px;
    font-size: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-info div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info div p {
    font-weight: 700;
}

.contact-info div a {
    color: rgba(0, 124, 238, 1);
}

.toast-msg {
    display: none;
    position: relative;
    top: 100px;
    left: 0;
    transition: transform 125ms ease-in-out;
    width: 326px;
    height: 74px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.toast-msg-slide-in {
    transform: translateX(0);
}

.toast-msg-slide-out {
    transform: translateX(2000%);
}

.modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.contact-sub-menu {
    position: absolute;
    bottom: 100px;
    right: 10px;
    width: 116px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0px 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 125ms ease-in-out;
}



