
@media (max-width: 1210px) {
    .contacts-container {
        width: auto;
    }

    .add-contact-btn-container {
        width: auto;
    }

    .main-container {
        padding: 206px 0px 0px 687px;
    }


    .pop-up-content {
        width: 553px !important;
        height: 540px !important;
    }

    .pop-up-img {
        right: 493px !important;
    }

    .pop-up-banner {
        width: 340px !important;
        height: 540px !important;
    }

    .pop-up-banner-content div {
        width: 234px;
    }
    .no-contacts {
        width: 352px;
    }
   
}



@media (max-width: 1100px) {
    .add-contact-btn {
        width: 300px;
    }

    .contact {
        width: 300px;
    }

    .no-contacts {
        width: 300px;
    }

    .main-container {
        padding: 206px 0px 0px 610px;
    }

}


@media (max-width: 1024px) {
    .contacts-container {
        left: 0px;
        height: calc(100vh - 192px);
    }

    .add-contact-btn-container {
        left: 0px;
    }

    .main-container {
        padding: 196px 0px 0px 408px;
    }
}

@media (max-width: 900px) {
    .pop-up-container {
        flex-direction: column;
    }

    .pop-up-banner {
        width: 396px !important;
        height: 352px !important;
        padding: 66px 24px !important;
        border-radius: 30px 30px 0px 0px !important;
    }

    .pop-up-banner-content h1 {
        font-size: 47px !important;
    }

    .pop-up-banner-content p {
        font-size: 24px !important;
    }

    .pop-up-banner img {
        display: none;
    }

    .pop-up-banner-content div {
        width: auto;
    }

    .pop-up-content {
        height: 408px !important;
        width: 396px !important;
        border-radius: 0px 0px 30px 30px !important;
    }

    .close-pop-up {
        top: -334px !important;
        right: 16px !important;
    }

    .close-pop-up:hover {
        background-color: rgba(9, 25, 49, 1) !important;
    }

    .close-pop-up img {
        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(104%) contrast(102%);
    }

    .pop-up-img {
        right: 138px !important;
        top: -60px !important;
    }

    .form {
        width: 364px !important;
        height: 153px !important;
        top: 92px !important;
        right: 16px !important;

    }

    .form form {
        gap: 15px !important;

    }

    .input {
        height: 41px !important;
        padding: 8px 21px !important;
    }

    .input div {
        top: 8px !important;
    }


    .pop-up-btns {
        width: auto !important;
        top: 277px !important;
        right: 100px !important;
    }

    .cancel-btn {
        display: none !important;
    }

    .approve-btn,
    .cancel-btn {
        padding: 13px 10px !important;
    }

    .cancel-btn:hover {
        padding: 12px 9px !important;
    }

}

@media (max-width: 820px) {
    .main-container {
        padding: 196px 0px 0px 368px;
    }
    
}

@media (max-width: 768px) {
    .back-arrow {
        display: block;
    }

    .contact-sub-menu-btn {
        display: flex;
    }

    .pop-up-close {
        transform: translateY(1000%) !important;
    }

    .pop-up-open {
        transform: translateY(0) !important;
    }

    .contacts-container {
        top: 80px;
        width: 100%;
        height: calc(100vh - 160px);
        padding: 24px 14px 0px 38px;
    }

    .contacts-list {
        width: 100%;
        padding: 0;
    }

    .add-contact-btn-container {
        height: 56px;
        width: 56px;
        border-radius: 46px;
        top: auto;
        left: auto;
        bottom: 122px;
        right: 24px;
    }

    .add-contact-btn {
        margin-left: 0;
        border-radius: 46px;
    }

    .add-contact-btn p {
        display: none;
    }

    .contact {
        width: 100%;
    }

    .no-contacts {
        width: 100%;
    }

    .main-container {
        position: relative;
        display: none;
        background-color: rgba(246, 247, 248, 1);
        padding: 128px 36px;
        gap: 48px;
    } 

    .title-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .title-container h1 {
        font-size: 47px;
    }

   .title-separator {
        order: 3;
        height: 3px;
        width: 90px;
        margin-top: 8px;

    }

    .title-container p {
        order: 2;
        font-size: 20px;
    }

    .contact-header {
        gap: 20px;
    } 

    .contact-img-mobile {
        height: 80px;
        min-width: 80px;
        font-size: 27px;
    }

    .contact-name {
        height: auto;
    }

    .contact-name h2 {
        font-size: 36px;
        font-weight: 700;
    }

    .contact-btns {
        display: none;
    }

    .contact-info-p {
        height: auto;
    }

    .contact-options-btns {
        display: flex;
        padding: 10px;
        gap: 10px;
        border-radius: 12px;
    }

    .contact-options-btns:hover {
        cursor: pointer;
        color: #29abe2;
        font-weight: 700;
        background-color: rgba(238, 238, 238, 1);
    }

    .contact-options-btns:hover img {
        filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);
    }

    .contact-displayed {
        transform: none;
    }

    .toast-msg {
        margin-inline: auto;
    }

    .toast-msg-slide-in {
        transform: translateY(0);
    }

    /* .toast-msg-slide-out {
        transform: translateY(2000%);
    }  */
} 

@media (max-width: 424px) {
    .pop-up-banner {
        width: 320px !important;
    }
    .pop-up-content {
        width: 320px !important;
    }
    .pop-up-img {
        right: 100px !important;
    }
    .pop-up-btns {
        right: 62px !important;
    }
    .form {
        width: 286px !important;
    }
    .contacts-container{
        padding: 24px 0px 0px 24px;
    }
}
@media (max-width: 424px) and (max-height: 770px){
    .pop-up-banner {
        height: 260px !important;
    }
    .pop-up-content {
        height: 360px !important;
    }
    .close-pop-up {
        top: -242px !important;
    }
}