.pop-up-container {
    position: relative;
    top: 0px;
    left: 0px;
    transform: translateX(1000%);
    transition: transform 125ms ease-in-out;
    display: flex;
    border-radius: 30px;

}

.pop-up-banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 594px;
    padding: 66px 48px;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(42, 54, 71, 1);
}

.pop-up-banner-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.pop-up-banner-content h1 {
    font-size: 61px;
}

.pop-up-banner-content p {
    font-size: 27px;
}

.pop-up-banner-content img {
    position: absolute;
    top: 154px;
    left: 45.5px;
    height: 66.48px;
    width: 55.6px;
}

.pop-up-banner-content div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pop-up-banner-content span {
    width: 90px;
    height: 3px;
    background-color: rgba(41, 171, 226, 1);
    border-radius: 10px;
}

.pop-up-content {
    position: relative;
    width: 745px;
    height: 594px;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
}

.close-pop-up {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.close-pop-up:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 1);
}

.pop-up-img {
    position: absolute;
    top: 204px;
    right: 542px;
}

.form {
    position: absolute;
    width: 422px;
    height: 215px;
    top: 137px;
    right: 48px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

input::placeholder {
    color: rgba(209, 209, 209, 1);
    opacity: 1;
}

.input {
    position: relative;
    width: 422px;
    height: 50px;
    padding: 13px 21px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
}

.input-active {
    border: 1px solid rgb(41, 171, 226);
}

.input input {
    width: 380px;
    height: 24px;
    font-size: 20px;
    border: 0px;
}

.input div {
    position: absolute;
    top: 13px;
    right: 21px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

button {
    all: unset;
}

.pop-up-btns {
    position: absolute;
    display: flex;
    top: 400px;
    right: 106px;
    height: 57px;
    width: 364px;
    gap: 24px;
}

.cancel-btn {
    transition: 75ms;
    display: flex;
    align-items: center;
    border: 1px solid rgba(42, 54, 71, 1);
    border-radius: 10px;
    padding: 15px;
    gap: 4px;
    color: rgba(42, 54, 71, 1);
    font-size: 20px;
}

.cancel-btn:hover {
    padding: 14px;
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
    border: 2px solid rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-btn:hover img {
    filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);
}

.delete-btn {
    padding-inline: 24px;
}

.delete-btn:hover {
    padding-inline: 23px;
}

.approve-btn {
    transition: 75ms;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    padding: 16px;
    background-color: rgba(42, 54, 71, 1);
    font-size: 21px;
    color: white;
}

.approve-btn:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

