nav {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    height: 100vh;
    padding: 64px 0px 64px 0px;
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}


.nav-logo {
    height: 121.97px;
    width: 100.03px;
}


.nav-menu {
    display: flex;
    flex-direction: column;
    height: 229px;
    width: 232px;
    gap: 15px;
}


.nav-link {
    transition: 125ms;
    display: flex;
    gap: 6px;
    padding: 8px 53px;
    color: rgba(205, 205, 205, 1);
    cursor: pointer;
}


.link-active {
    background-color: rgba(9, 25, 49, 1);
    color: white;
    pointer-events: none;
}


.nav-link:hover {
    transition: 125ms;
    background-color: rgba(42, 61, 89, 1);
}


.nav-link:hover img {
    top: 2px;
    left: 3px;
}


.nav-link:hover .link-name p {
    top: 5px;
    left: 0.5px;
}


.link-name {
    position: relative;
    width: 72px;
}


.link-name p {
    position: absolute;
    top: 5.5px;
}


.link-icon {
    position: relative;
    width: 30px;
    height: 30px;
}


.link-icon img {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 25px;
    height: 25px;
}


.privacy-and-legal {
    display: flex;
    flex-direction: column;
    width: 232px;
    padding: 243px 0px 0px 0px;
    gap: 4px;
}


.privacy-and-legal a {
    color: rgba(168, 168, 168, 1);
    text-align: left;
    padding: 8px 8px 8px 52px;
}


.privacy-and-legal a p {
    width: 110px;
    height: 19px;
}


.privacy-and-legal :last-child p {
    width: 100px;
}


.privacy-and-legal a p:hover {
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    font-weight: 700;
}

.link-1 {
    order: 1;
}
.link-2 {
    order: 2;
}
.link-3 {
    order: 3;
}
.link-4 {
    order: 4;
}

@media (max-width: 1024px) {
    .nav-logo {
        display: none;
    }
    .privacy-and-legal {
        display: none;
    }
    nav {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 96px;
        display: block;
        padding: 0px 26px;
    }
    .nav-menu {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-link {
        width: 96px;
        height: 86px;
        border-radius: 16px;
        gap: 8px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
    }
 

    .link-name p {
        position: static;
        text-align: center;
        
    }
    .link-icon {
        height: 28px;
        width: 28px;
    }
    .link-icon img {
        position: static;
        width: auto;
        height: 28px;

    }
    .link-1 {
        order: 1;
    }
    .link-2 {
        order: 3;
    }
    .link-3 {
        order: 2;
    }
    .link-4 {
        order: 4;
    }
    
}

@media (max-width: 768px) {
    nav {
        height: 80px;
        padding: 0px 16px;
    }
    .nav-link {
        width: 80px;
        height: 76px;
        gap: 4px;
    }
       .nav-link:hover {
        background-color: rgba(42, 54, 71, 1);
    }
    .link-name p {
        font-size: 14px;
    }
    .link-icon {
        height: 24px;
        width: 24px;
    }
    .link-icon img {
        height: 24px;
    }
}

@media (max-width: 365px) {
nav{
    padding: 0px 8px;
}
.nav-menu {
    gap: 8px;
}
.nav-link {
    width: 68px;
    height: 70px;
}
}