header {
    top:0;
    z-index: 2;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 96px;
    padding: 20px 40px 20px 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-slogan {
    margin: 0;
    font-size: 20px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    gap: 16px;
}

.help-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.help-icon a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-icon img {
    width: 20px;
    height: 20px;
}

.help-icon img:hover {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.profile-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 3px rgba(42, 54, 71, 1);
}

.profile-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 559px;
    color: rgba(41, 171, 226, 1);
    font-size: 20px;
    font-weight: 700;
}

.guest-font-size {
    font-size: 28px;
}

.profile-name:hover {
    cursor: pointer;
    background-color: rgba(12, 46, 98, 0.12);
}

.sub-menu-bg {
    position: fixed;
    display: block;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body.sub-menu-bg-open {
    overflow: hidden;
    position: relative;
    touch-action: none;
}

.sub-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 3;
    top: 96px;
    right: 20px;
    border-radius: 20px 0px 20px 20px;
    padding: 10px;
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: transform 125ms ease-in-out;
}

.sub-menu a {
    text-decoration: none;
    position: relative;
    border-radius: 8px;
    padding: 14px 16px;
    color: rgba(205, 205, 205, 1);
}

.sub-menu a:hover {
    background-color: rgba(42, 61, 89, 1);
}

.sub-menu a:hover div {
    top: -0.5px;
    left: -0.5px;
}

.sub-menu a div {
    position: relative;
}

.help-link {
    display: none;
}

.header-logo {
    height: 56px;
    display: none;
}

@media (max-width: 1024px) {
    .help-link {
        display: block;
    }

    .help-icon {
        display: none;
    }

    .header-slogan {
        display: none;
    }

    .header-logo {
        display: block;
    }

    header {
        padding: 20px 40px 20px 40px;
    }

}

@media (max-width: 768px) {

    .sub-menu-close {
        transform: translateX(200%);
    }

    .sub-menu-open {
        transform: translateX(0);
    }
    header {
        padding: 20px 36px;
        height: 80px;
    }
    
    .sub-menu {
        top: 60px;
        right: 10px;
    }

    .header-logo {
        height: 39px;
    }

    .header-icons {
        height: 40px;
    }

    .profile-icon {
        height: 40px;
        width: 40px;
    }

    .profile-name {
        height: 32px;
        width: 32px;
        font-size: 14px;
    }

    .guest-font-size {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    header {
        padding: 20px 16px;
    }
}
