/*-----------  ALLGEMEINES ---------- */

@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  color-scheme: light;
  font-size: 100%;
  scroll-behavior: smooth;
  display: inline-block;
  overflow-x: hidden;
}


.d-none {
  display: none !important;
}


a {
  text-decoration: none;
  cursor: pointer;
}


a:focus {
  text-decoration: none;
}


a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}



/* -------- FONTS ------------ */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}





/*-----------  Spezifisches für LOGIN.HTML ---------- */
/* body wurde oben bereits belegt, hier nur der Vollständigkeit halber wegen des Backgrounds! */


:root {
    --transTime: 100ms;
}


body {
    font-family: "inter", sans-serif;
    overflow-x: hidden;
    direction: ltr;
    background-color: #F6F7F8;
}




/* ---------------------  CONTENT  ------------------- */


.content__container {
    font-family: "inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    height: 100dvh;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}



/* ---------------------  HEADER  ------------------- */

.header {
    height: 25%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}


.header__logo__container {
    position: absolute;
    top: 80px;
    left: 77px;
    z-index: 100;
}


.header__logo {
    opacity: 0;
    width: 100px;
    height: 122px;
    animation: fadeIn 200ms ease-in-out 1900ms forwards;
}


.header__logo-mobile {
    width: 100px;
    height: 122px;
}


.login__nav {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding-top: calc(67px + 49px / 2);
    padding-right: 122px;
}


.login__nav p {
    width: 153px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}




/* ---------------------  FORM ------------------- */


.login__signUp {
    color: white;
    width: 91px;
    height: 49px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;    
    padding: 15px;
    border-radius: 8px;
    background-color: #2A3647;
    transition: color var(--transTime) ease-in-out, background-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}


.login__signUp:hover {
    color: #FFFFFF;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.logIn__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    max-width: 652px;
    max-height: 493px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}


.logIn__container h1 {
    width: 315px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    text-align: center;
}


.logIn__separator {
    width: 150px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 32px;
}

.logIn__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.inputField__container {
    width: 422px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    border: 1px solid #D1d1d1;
    cursor: pointer;
}

.inputField__container-margin32 {
    margin-bottom: 32px;
}

.inputField__container-margin44 {
    margin-bottom: 44px;
}

.inputField__container input {
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    width: 90%;
    cursor: pointer;
}

.inputField__username__icon {
    width: 20px;
    height: 16px;
}

.inputField__password__icon {
    width: 16px;
    height: 21px;
}


.logIn__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 332px;
    height: 48px;
    gap: 35px;
}


.btn__logIn {
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    width: 110px;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background: #2A3647;
    cursor: pointer;
    transition: color var(--transTime) ease-in-out, background-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}


.btn__logIn:hover {
    color: #FFFFFF;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.btn__guest {
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #FFFFFF;
    width: 177px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background-color: white;
    color: #2a3647;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    cursor: pointer;
    transition: color var(--transTime) ease-in-out, border-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}


.btn__guest:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: #29ABE2;
}




.check-box {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    width: clamp(240px, 422px, 80%);
    margin-top: 20.4px;
}


.check-box img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.check-box img:hover {
    transform: scale(1.1);
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.2),
                0px 0px 1px 1px rgba(0,0,0,0.2);
    border-radius: 2px;
}


.check-box p {
    width: 110px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}


.pointerEvents__none {
    pointer-events: none;
}

.visible__no {
    width: 21.65px;
    height: 18.95px;
}

.visible {
    margin-bottom: 2px;
    width: 21.65px;
    height: 15px;
}


.btn__disabled {
    cursor: default;
    background-color: #a8a8a8!important;
    box-shadow: none!important;
}


.form__wrongPassword__container {
    width: clamp(240px, 422px, 80%);
    margin-top: 8px;
    height: 15.6px;
    content: none;
}


.form__wrongPassword__message {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
    color: #FF8190;
}


.wrongPassword {
    border-color: #FF8190 !important;
}


.inputField__container:has(input:focus) {
    border-color: #29ABE2 !important;
}





/* ---------------------  FOOTER ------------------- */




.login__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login__footer a {
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 40px;
    min-width: 123px;
    text-align: center;
}


.login__footer a:hover {
    color: #29abe2;
    font-weight: 700;
}


.footer__legacys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}




/* ---------------------  ANIMATION ------------------- */

.overlay__container {
    position: absolute;
    inset: 0 0 0 0;
    background-color: #F6F7F8;
    opacity: 1;
    animation: animation_overlay 2000ms ease-in-out 750ms forwards;

}

.overlay__logo {
    position: relative;
    inset: 50% 0 0 50%;
    height: 334px;
    width: 274px;
    background-image: url('../assets/img/icons_login/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform: translate(-50%, -50%);
    animation: animation_logo 1200ms ease-in-out 750ms forwards;
}


@keyframes animation_logo {
    from {
        inset: 50% 0 0 50%;
        transform: translate(-50%, -50%);
        height: 334px;
        width: 274px;
    }

    to {
        height: 122px;
        width: 100px;
        top: 80px;
        left: 77px;
        transform: none;
    }
}


@keyframes animation_overlay {
    to {
        background-color: transparent;
    }
}





/* --------------------   MOBILE ----------------------------- */



.login__nav-mobile {
    height: 49px;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-bottom: 27px;
}


.login__nav-mobile p {
    width: 153px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


.login__signUp-mobile {
    color: white;
    width: 104px;
    height: 49px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;    
    padding: 15px;
    border-radius: 8px;
    background-color: #2A3647;
    transition: color var(--transTime) ease-in-out, background-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}


.login__signUp-mobile:hover {
    color: #FFFFFF;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* ------------ Overlay and animation : mobile Version ------------- */


@media (max-width: 800px) and (min-height: 600px) {

    .overlay__container {
        background-color: #2a3647;
    }

    .overlay__logo {
        background-image: url('../assets/img/icons_login/logomobile.svg');
        animation: animation_logo 1200ms ease-in-out 750ms forwards, fadeOut 1600ms ease-in-out 750ms forwards;
    }

    .header__logo {
        opacity: 0;
        animation: fadeIn 200ms ease-in-out 1800ms  forwards ;
    }


}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes scaleImg {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}





/* ---------------------   MEDIA QUERRIES  --------------------------- */



@media (max-width: 1024px) and (max-height: 850px) {

    .header {
        height: 20%;
    }

    .header__logo__container {
        top: 56px;
        left: 66px;
    }

    .header__logo {
        width: 50px;
        height: 61px;
    }


    @keyframes animation_logo {
        from {
            inset: 50% 0 0 50%;
            transform: translate(-50%, -50%);
            height: 334px;
            width: 274px;
        }
    
        to {
            height: 61px;
            width: 50px;
            top: 56px;
            left: 66px;
            transform: none;
        }
    }


    .logIn__container {
        width: clamp(300px, 652px, 80%);
    }

    .inputField__container {
        width: clamp(240px, 422px, 80%);
        height: 48px;
    }

}



@media (max-width: 1024px) and (max-height: 600px) {

    .check-box {
        margin-bottom: 4px;
        margin-top: 4px;
    }

}



@media (max-width: 900px) {

    .logIn__container {
        width: clamp(300px, 652px, 80%);
    }

    .inputField__container {
        width: clamp(240px, 422px, 80%);
        height: 48px;
    }

}


@media (max-width: 800px) {
    .header__logo__container {
        top: 56px;
        left: 5%;
    }

    .header__logo {
        width: 75px;
        height: 91px;
    }
}



@media (max-width: 600px) {

    .header {
        height: 20%;
    }

    .header__logo__container {
        top: 56px;
        left: 5%;
    }

    .header__logo {
        width: 75px;
        height: 91px;
    }

    @keyframes animation_logo {
        from {
            inset: 50% 0 0 50%;
            transform: translate(-50%, -50%);
            height: 334px;
            width: 274px;
        }
    
        to {
            height: 91px;
            width: 75px;
            top: 56px;
            left: 5%;
            transform: none;
        }
    }


    .login__nav-mobile {
        display: flex;
        margin-bottom: 8px;
    }

    .login__nav {
        display: none;
    }

    .login__nav__mobile {
        display: inline-block;
    }

    .login__footer {
        margin-top: 1rem;
    }

    .login__footer a {
        padding-bottom: 0px;
        min-width: 123px;
        text-align: center;
    }

    .footer__legacys {
        padding-bottom: 8px;
    }

    .login__signUp-mobile {
        height: 36px;
        padding: 9px;
    }

}


@media (max-width: 600px) {

    .check-box {
        margin-left: 26px;
    }

    .logIn__btn__container {
        flex-direction: column;
        height: 100%;
        gap: 21px;
    }

    .btn__logIn {
        width: 180px;
        height: 51px;
    }

    .btn__guest {
        width: 180px;
        height: 51px;
        margin-bottom: 32px;
    }

    .login__nav-mobile {
        gap: 16px;
    }
}


/* ------------------------------------- */



@media (max-width: 500px) and (min-height: 600px) {

    .header__logo__container {
        top: 30px;
        left: 38px;
    }

    .logIn__container h1 {
        height: 56px;
        font-size: 47px;
        margin-top: 32px;
    }

    .logIn__separator {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .inputField__container-margin32 {
        margin-bottom: 16px;
    }

    .header__logo {
        width: 50px;
        height: 61px;
    }

    .logIn__container {
        height: 60%;
        width: 90%;
    }

    @keyframes animation_logo {
        from {
            inset: 50% 0 0 50%;
            transform: translate(-50%, -50%);
            height: 334px;
            width: 274px;
        }
    
        to {
            height: 61px;
            width: 50px;
            top: 30px;
            left: 38px;
            transform: none;
        }
    }

    .check-box {
        margin-left: 44px;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .btn__logIn {
        height: 38px;
    }

    .btn__guest {
        height: 38px;
    }

    .login__nav-mobile {
        margin-top: 16px;
    }

    .login__signUp-mobile {
        height: 38px;
        padding: 8px;
    }

    .footer__legacys {
        padding-bottom: 0px;
    }

}





@media (max-width: 500px) and (min-height: 800px) {

    .header {
        height: 15%;
    }

    .logIn__container {
        margin-top: 0;
    }

    .logIn__form {
        margin-top: 24px;
    }

    .logIn__container h1  {
        margin-top: 0;
    }

    .inputField__container {
        margin-top: 16px;
    }

    .logIn__btn__container {
        margin-top: 16px;
    }

    .login__footer {
        margin-top: 32px;
    }
}





@media (max-width: 360px) and (max-height: 600px) {

    .header {
        height: 15%;
    }

    .header__logo__container {
        top: 2%;
        left: 5%;
    }

    .header__logo {
        width: 37px;
        height: 45px;
    }


    @keyframes animation_logo {
        from {
            inset: 50% 0 0 50%;
            transform: translate(-50%, -50%);
            height: 334px;
            width: 274px;
        }
    
        to {
            height: 37px;
            width: 45px;
            top: 2%;
            left: 5%;
            transform: none;
        }
    }





    .logIn__container {
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 5rem;
    }

    
    .logIn__container h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 18px;
        text-align: center;
        padding-top: 8px;
    }

    .logIn__separator {
        width: 150px;
        height: 3px;
        margin-top: 4px;
        margin-bottom: 12px;
    }

    .inputField__container-margin32 {
        margin-bottom: 12px;
    }

    .logIn__btn__container {
        width: 20%;
    }

    .btn__logIn,
    .btn__guest {
        height: 32px;
    }

    .login__footer {
        padding-top: 2rem;
        position: sticky;
        overflow-x: hidden;
        overflow-y: auto;
    }

}

