/*-----------  ALLGEMEINES ---------- */

@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  color-scheme: light;
  font-size: 100%;
  scroll-behavior: smooth;
  display: inline-block;
  overflow-x: hidden;
  min-height: 100dvh;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: "inter", sans-serif;
  overflow: visible;
  direction: ltr;
  background-color: #F6F7F8;
}

.d-none {
  display: none !important;
}


a {
  text-decoration: none;
  cursor: pointer;
}


a:focus {
  text-decoration: none;
}


a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}



/* -------- FONTS ------------ */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}





/*-----------  Spezifisches für LOGIN.HTML ---------- */
/* body wurde oben bereits belegt, hier nur der Vollständigkeit halber wegen des Backgrounds! */


:root {
    --transTime: 100ms;
}


body {
    height: 100dvh;
    min-height: 100dvh;
    width: 100dvw;
    max-width: 100dvw;
    font-family: "inter", sans-serif;
    overflow: visible;
    direction: ltr;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    font-family: "inter", sans-serif;
}

.content__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    /* max-height: 1024px; */
}


.header__logo {
    width: 100px;
    height: 122px;
}


.overlay__container {
    position: absolute;
    inset: 0 0 0 0;
    background-color: #F6F7F8;
    opacity: 1;
    animation: animation_overlay 2000ms ease-in-out 750ms forwards;

}

.overlay__logo {
    position: relative;
    inset: 50% 0 0 50%;
    height: 334px;
    width: 274px;
    background-image: url('../assets/img/icons_login/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform: translate(-50%, -50%);
    animation: animation_logo 1200ms ease-in-out 750ms forwards;
}


@keyframes animation_logo {
    from {
        inset: 50% 0 0 50%;
        transform: translate(-50%, -50%);
        height: 334px;
        width: 274px;
    }

    to {
        height: 122px;
        width: 100px;
        top: 80px;
        left: 77px;
        transform: none;
    }
}


@keyframes animation_overlay {
    to {
        background-color: transparent;
    }
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(122px + 80px);
    display: flex;
    justify-content: space-between;
}


.header img {
    position: absolute;
    top: 80px;
    left: 78px;
}


.login__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(1024px - 949px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.login__footer a {
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 40px;
    min-width: 123px;
    text-align: center;
}


.login__footer a:hover {
    color: #29abe2;
    font-weight: 700;
}


.logIn__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 652px;
    height: 493px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}


.logIn__container h1 {
    width: 315px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    text-align: center;
}


.logIn__separator {
    width: 150px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 32px;
}




.login__nav {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding-top: calc(67px + 49px / 2);
    padding-right: 122px;
}


.login__nav p {
    width: 153px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


.login__signUp {
    color: white;
    width: 91px;
    height: 49px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;    
    padding: 15px;
    border-radius: 8px;
    background-color: #2A3647;
    transition: color var(--transTime) ease-in-out, background-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}


.login__signUp:hover {
    color: #FFFFFF;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.logIn__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.inputField__container {
    width: 422px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    border: 1px solid #D1d1d1;
    cursor: pointer;
}

.inputField__container-margin32 {
    margin-bottom: 32px;
}

.inputField__container-margin44 {
    margin-bottom: 44px;
}

.inputField__container input {
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    width: calc(422px - 21px);
    cursor: pointer;
}

.inputField__username__icon {
    width: 20px;
    height: 16px;
}

.inputField__password__icon {
    width: 16px;
    height: 21px;
}


.logIn__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 332px;
    height: 48px;
    gap: 35px;
}


.btn__logIn {
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    width: 110px;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background: #2A3647;
    cursor: pointer;
    transition: color var(--transTime) ease-in-out, background-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}


.btn__logIn:hover {
    color: #FFFFFF;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.btn__guest {
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #FFFFFF;
    width: 177px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background-color: white;
    color: #2a3647;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    cursor: pointer;
    transition: color var(--transTime) ease-in-out, border-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}


.btn__guest:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: #29ABE2;
}




.check-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    margin-right: 204px;
    margin-top: 20.4px;
}


.check-box img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.check-box img:hover {
    transform: scale(1.1);
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.2),
                0px 0px 1px 1px rgba(0,0,0,0.2);
    border-radius: 2px;
}


.check-box p {
    width: 110px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}


.pointerEvents__none {
    pointer-events: none;
}

.visible__no {
    width: 21.65px;
    height: 18.95px;
}

.visible {
    margin-bottom: 2px;
    width: 21.65px;
    height: 15px;
}


.btn__disabled {
    cursor: default;
    background-color: #a8a8a8!important;
    box-shadow: none!important;
}


.form__wrongPassword__container {
    width: 100%;
    margin-top: 8px;
    height: 15.6px;
    content: none;
}


.form__wrongPassword__message {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
    color: #FF8190;
}


.wrongPassword {
    border-color: #FF8190 !important;
}


.inputField__container:has(input:focus) {
    border-color: #29ABE2;
}

