@media (max-width: 1024px) {
    .header {
        height: 20%;
    }

    .signUp__container {
        width: clamp(300px, 90%, 652px);
        height: 60%;
    }

    .header__logo {
        height: clamp(5rem, 8vh, 8rem);
    }

    .inputField__container {
        width: clamp(240px, 90%, 422px);
        height: 48px;
    }
}

@media (max-width: 992px) {
    .signUp__container {
        width: clamp(300px, 90%, 652px);
    }

    .inputField__container {
        width: clamp(240px, 90%, 422px);
        height: 48px;
    }
}

@media (max-width: 600px) {
    .login__footer {
        height: auto;
    }

    .login__footer a {
        padding-bottom: 0px;
        min-width: 123px;
        text-align: center;
    }

    .header__logo {
        width: 75px;
        height: 91px;
    }

    .header__logo__container {
        top: 56px;
        left: 5%;
    }

    .footer__legacys {
        padding-bottom: 8px;
    }

    .signUp__footer a {
        padding-bottom: 8px;
    }

    .signUp__btn__container {
        padding-bottom: 32px;
    }
}

@media (max-width: 520px) {
    .check-box {
        margin-left: 0;
    }

    .signUp__btn__container {
        flex-direction: column;
        height: 100%;
        gap: 21px;
    }

    .btn__signUp {
        width: 180px;
        height: 51px;
        margin-bottom: 32px;
    }

    .signUp__form {
        width: 100%;
    }

    .header {
        height: 15%;
    }

    .signUp__container {
        height: 70%;
    }

    .signUp__container h1 {
        margin-top: 24px;
    }

    .inputField__container input {
        width: 100%;
    }

    .signUp__footer a {
        padding-bottom: 0;
    }
}

@media (max-width: 500px) and (min-height: 800px) {
    .signUp__container {
        margin-top: 0;
    }

    .signUp__form {
        margin-top: 24px;
    }

    .signUp__container h1 {
        margin-top: 0;
    }

    .inputField__container {
        margin-top: 16px;
    }

    .signUp__btn__container {
        margin-top: 16px;
    }

    .signUp__footer {
        margin-top: 32px;
    }
}

@media (max-width: 500px) and (min-height: 600px) {
    .header__logo__container {
        top: 30px;
        left: 38px;
        max-height: 60%;
        width: 90%;
    }

    .signUp__container h1 {
        height: 56px;
        font-size: 47px;
        margin-top: 32px;
    }

    .signUp__separator {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .inputField__container-margin24 {
        margin-bottom: 16px;
    }

    .header__logo {
        width: 50px;
        height: 61px;
    }

    .check-box {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .btn__signUp {
        height: 38px;
    }

    .footer__legacys {
        padding-bottom: 0px;
    }

    .goback {
        top: 50%;
        left: 5%;
    }
}

@media (max-width: 500px) and (max-height: 600px) {
    .header {
        height: 15%;
    }

    .header__logo__container {
        top: 2%;
        left: 5%;
    }

    .header__logo {
        width: 37px;
        height: 45px;
    }

    .signUp__container h1 {
        margin-top: 0px;
        font-size: 32px;
        padding-top: 16px;
    }

    .signUp__separator {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .inputField__container-margin24 {
        margin-bottom: 8px;
    }

    .check-box {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .btn__signUp {
        height: 32px;
    }

    .footer__legacys {
        padding-bottom: 0px;
    }
}

@media (max-width: 360px) and (max-height: 600px) {
    .header {
        height: 15%;
    }

    .header__logo__container {
        top: 2%;
        left: 5%;
    }

    .header__logo {
        width: 37px;
        height: 45px;
    }

    .logIn__container {
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 5rem;
    }

    .logIn__container h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 18px;
        text-align: center;
        padding-top: 8px;
    }

    .logIn__separator {
        width: 150px;
        height: 3px;
        margin-top: 4px;
        margin-bottom: 12px;
    }

    .inputField__container-margin32 {
        margin-bottom: 12px;
    }

    .logIn__btn__container {
        width: 20%;
    }

    .btn__logIn,
    .btn__guest {
        height: 32px;
    }

    .login__footer {
        padding-top: 2rem;
        position: sticky;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-height: 550px) {
    .header {
        height: 10%;
    }

    .signUp__container {
        height: 80%;
    }

    .goback {
        top: 50%;
        left: 5%;
    }

    .signUp__container {
        overflow-y: auto;
        padding-top: 12rem;
    }
}

@media (max-width: 1024px) and (max-height: 890px) {
    .header {
        height: 15%;
    }

    .header__logo__container {
        top: 5%;
        left: 5%;
    }

    .header__logo {
        width: 50px;
        height: 61px;
    }

    .signUp__container {
        width: clamp(300px, 652px, 90%);
        height: 70%;
    }

    .inputField__container {
        width: clamp(240px, 422px, 90%);
        height: 48px;
    }

    .signUp__footer {
        bottom: 0;
    }

    .signUp__footer a {
        padding-bottom: 8px;
    }
}

@media (max-width: 540px) and (max-height: 720px) {
    .signUp__container {
        height: 77%;
    }

    .signUp__container h1 {
        font-size: 51px;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .signUp__separator {
        margin-top: 8px;
        margin-bottom: 24px;
    }

    .signUp__btn__container {
        padding-bottom: 12px;
    }
}

@media (max-width: 375px) and (max-height: 667px) {
    .signUp__container h1 {
        height: 56px;
        font-size: 47px;
        margin-top: 32px;
        padding-top: 0px;
    }

    .signUp__separator {
        width: 150px;
        height: 3px;
        margin-top: 14px;
        margin-bottom: 32px;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {
    .headline__container {
        margin-top: 80px;
    }

    .signUp__container h1 {
        height: 36px;
        font-size: 32px;
        text-align: center;
    }

    .signUp__separator {
        margin-top: 24px;
    }

    .inputField__container {
        height: 32px;
    }

    .btn__signUp {
        height: 36px;
    }
}

@media (min-width: 1279px) and (max-width: 1281px) and (min-height: 799px) and (max-height: 801px) {
    .header {
        height: 15%;
    }

    .header__logo {
        width: 75px;
        height: 90px;
    }

    .header__logo__container {
        top: 20px;
        left: 5%;
    }

    .signUp__container {
        height: 70%;
    }

    .headline__container h1 {
        font-size: 32px;
        text-align: center;
    }

    .signUp__container h1 {
        margin-top: 20px;
    }

    .signUp__separator {
        margin-top: 0px;
    }

    .inputField__container {
        height: 48px;
    }

    .btn__signUp {
        height: 36px;
    }
}
