@media (max-width: 1206px) {
    .summary__greeting__container {
        display: none;
    }
}

@media (max-width: 1024px) {
    .summary__container {
        margin-left: 0px;
        margin-bottom: 74px;
    }
}

/* Here final design shown in FIGMA at 428 x 926 px */
@media (max-width: 730px) {
    .main__container {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 16px;
    }

    .summary__header {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding-top: 28px;
    }

    .seperator {
        display: none;
    }

    .seperator__horizental {
        padding-top: 16px;
        display: flex;
        width: 90px;
        height: 3px;
        background-image: url(../assets/img/icons_summary/separator.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .summary__first__section {
        gap: 24px;
    }

    .summary__tiles__container {
        padding-top: 40px;
    }

    .summary__tiles {
        width: 396px;
        gap: 18px;
    }

    .summary__two_tiles {
        width: 186px;
        height: 110px;
        gap: 10px;
        border-radius: 20px;
    }

    .summary__two_tiles img {
        width: 40px;
        height: 40px;
    }

    .summary__second__section {
        width: 100%;
        height: 110px;
        border-radius: 20px;
    }

    .summary__third__section-tiles {
        width: 116px;
        height: 116px;
        gap: 24px;
    }

    .summary__header h2 {
        font-size: 47px;
        line-height: 56px;
    }

    .summary__header-text {
        font-size: 20px;
        line-height: 24px;
    }

    .summary__tiles__number {
        font-size: 47px;
        line-height: 56px;
    }

    .summary__text__top-and-bottom,
    .summary__text__middle,
    .summary__deadline__text {
        font-size: 14px;
        line-height: 16.8px;
    }

    .summary__tiles__text {
        gap: 0;
    }

    .summary__second__section {
        justify-content: center;
    }

    .summary__icons {
        width: 40px;
        height: 40px;
    }

    .summary__tiles__seperator {
        height: 68px;
        width: 2px;
    }

    .summary__deadline__date {
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 8px;
    }

    .second__section__first__tile {
        display: flex;
        align-items: center;
        width: calc(50% - 1px);
    }

    .summary__third__section-tiles {
        border-radius: 20px;
    }

    .summary__third__section {
        gap: 24px;
    }

    .summary__third__section-tiles {
        gap: 0px;
    }
}

@media (max-width: 420px) {
    .summary__container {
        width: 100%;
        transform: scale(0.9);
    }

    .main__container {
        padding-left: 0;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .summary__container {
        transform: scale(0.8);
    }
}

@media (max-width: 370px) {
    .summary__container {
        transform: scale(0.7);
    }
}

@media (max-width: 330px) {
    .main__container {
        margin-left: -24px;
    }

    .summary__container {
        transform: scale(0.6);
    }
}


@media (min-width: 374px) and (max-width: 376px) and (min-height: 666px) and (max-height: 668px) {
    
    .main__container {
        max-height: 100vh;
    }

    .summary__container {
        margin-top: 100px;
        margin-bottom: 0;
        margin-left: -5px;
    }
}